.navbar{
     display: flex;
     justify-content: space-around;
     color: #fff;
     padding-top: 1rem;
 
}

.navbar ul{
    display: flex;
    gap: 25px;
    padding-top: 25px;
}

.navbar li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li:hover{
    cursor: pointer;
    border-bottom: 1px solid  #FDD005;
    margin-bottom: 0;
}


.sideText {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.sideText p {
    margin-right: 10px; 
}

.sideImages{
    display: flex;
    justify-content: flex-end;
    gap: 21px;
}
