@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');
@import '../../Styles/Mixins.scss';
@import '../../Styles/Variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
}


.Herocontainer {
    height: 911px;
    width: 100%;
    background-image: url('../../assessts/HeroSectionBG.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0;

   
    .HeroContent{
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }
    
    
    .HeroText {
        width: 60%;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }
}



.WeirdChckenImg  {
    position: absolute;
    left: 5rem;
    top: 47rem;
}
.WeirdEarth{
    position: absolute;
    top: 46rem;
    right: 5rem;
}

.HeroText p {
    color: #fff;
    font-family: Arial, sans-serif;
    padding-bottom: 34px;
    font-weight: 500;
}

.HeroText h1 {
    font-family: "Protest Revolution", sans-serif;
    color: #FDD005;
    font-size: 5.6rem;
    padding-bottom: 34px;
}


.HeroButtons {
    padding: 5px;
    display: flex;
    gap: 1rem;

    align-items: center;
}


.HeroButtons a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 12px 28px;
}

.HeroButtons a:first-child {
    color: black;
    background: #FDD005;
    border: 1px solid black;

}

.HeroButtons a:last-child {
    color: white;
    border: 1px solid white;

}


.HeroImage {
    width: 40%;
}