@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

.Herocontainer{
    width: 100%;
    background-image: url('../../assessts/HeroSectionBG.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;   
}

.HeroText{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.HeroText p {
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HeroText h1{
    font-family: 'Protest Revolution', sans-serif;
    color: #FDD005;
    font-size: 5.6rem;
}


.HeroButtons{
    padding: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
}


.HeroButtons a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HeroButtons a:first-child{
    color: black;
    background: #FDD005;
    border: 1px solid black; 
    font-size: 0.8rem;
    padding: 4px 10px 4px 10px;
}

.HeroButtons a:last-child{
    color: white;
    border: 1px solid white;
    font-size: 0.8rem;
    padding: 4px 10px 4px 10px;
}


.HeroImage{
    width: 40%;
}
